/******** Normalize CSS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: url(/coffee-beans-bk.webp);
  background-size: contain;
}

h1 {
  margin-bottom: -4rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 5rem auto;
}

.menu-items__item {
  margin: 7rem 0;
  color: gray;
}

.menu-items__item > img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.menu-items__item > div {
  padding: 0 1rem;
}


footer {
  text-align: center;
}
